@mixin contact{
    font-size: 20px;
    background-color: $commoncolor;
    border-radius: 50%;
    padding: 10px;
    color: white;
}
@mixin navbar{
    font-size: 16px;
    letter-spacing: .05rem;
    font-weight: 900;
    padding: 30px 20px;
    color: white;
    display: inline-block;
    cursor: pointer;
}
@mixin buttons{
    font-size: 14px;
    letter-spacing: .2rem;
    font-family: "Oswald", sans-serif;
    padding: 1rem 3rem;
    background-color: $commoncolor;
    color: white;
    border: none;
    border-radius: 10px;
}