.about__us{
    padding: 5rem 0;
    display: flex;
    justify-content: center;
}
.about__us img{
    width: 550px;
    height: 380px;
}
.about-title{
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    font-size: 1.1rem;
    color: $commoncolor;
}
.about-btn{
    @include buttons;
    font-size: 18px;
}
.about__content{
    width: 400px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Oswald', sans-serif;
}
.about__content h1{
    font-weight: 400;
}
.line{
    border-bottom: 3px solid $commoncolor;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.about-text{
    color: $graycolor;
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}