@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Oswald", sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact h4 {
  display: inline;
  font-size: 1.3rem;
  font-weight: 400;
}

.contact p {
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 0.5px;
}

.contact i {
  font-size: 20px;
  background-color: rgb(46, 139, 251);
  border-radius: 50%;
  padding: 10px;
  color: white;
  margin-right: 10px;
}

.contact-item {
  display: flex;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: rgb(46, 139, 251);
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.nav-item {
  font-size: 16px;
  letter-spacing: 0.05rem;
  font-weight: 900;
  padding: 30px 20px;
  color: white;
  display: inline-block;
  cursor: pointer;
}

.nav-item:hover {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.375), rgba(0, 0, 0, 0.379), rgba(0, 0, 0, 0.381), rgba(0, 0, 0, 0.364)), url(/assets/images/hero_2.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.hero-content {
  color: white;
  font-family: "Oswald", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 650px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 300;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.hero-btn {
  font-size: 14px;
  letter-spacing: 0.2rem;
  font-family: "Oswald", sans-serif;
  padding: 1rem 3rem;
  background-color: rgb(46, 139, 251);
  color: white;
  border: none;
  border-radius: 10px;
}

.about__us {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.about__us img {
  width: 550px;
  height: 380px;
}

.about-title {
  font-family: "Dancing Script", cursive;
  font-weight: 300;
  font-size: 1.1rem;
  color: rgb(46, 139, 251);
}

.about-btn {
  font-size: 14px;
  letter-spacing: 0.2rem;
  font-family: "Oswald", sans-serif;
  padding: 1rem 3rem;
  background-color: rgb(46, 139, 251);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

.about__content {
  width: 400px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: "Oswald", sans-serif;
}

.about__content h1 {
  font-weight: 400;
}

.line-1 {
  border-bottom: 3px solid rgb(46, 139, 251);
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-text {
  color: rgb(128, 128, 128);
  font-weight: 300;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.about-2 {
  display: flex;
  justify-content: space-evenly;
  font-family: "Oswald", sans-serif;
}

.about-2 i {
  color: rgb(46, 139, 251);
  font-size: 40px;
}

.about-2 h4 {
  font-size: 20px;
  font-weight: 500;
}

.about-2 p {
  font-weight: 300;
  font-size: 1.3rem;
  color: rgb(128, 128, 128);
  width: 200px;
  margin-bottom: 30px;
}

.about__facts__item {
  font-family: "Oswald", sans-serif;
  padding: 5em 0;
  background-image: linear-gradient(rgb(46, 139, 251), rgb(46, 139, 251), rgba(46, 138, 251, 0.667), rgba(46, 138, 251, 0.667)), url(/assets/images/hero_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.facts-item {
  text-align: center;
}

.facts-item h1 {
  font-size: 50px;
  font-weight: 500;
}

.facts-item p {
  font-size: 1.3rem;
  font-weight: 300;
}

.destinations {
  text-align: center;
}

.destinations p {
  font-family: "Dancing Script", cursive;
  font-weight: 300;
  font-size: 1.1rem;
  color: rgb(46, 139, 251);
}

.destinations h1 {
  font-size: 1.75rem;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.line-2 {
  border-bottom: 3px solid rgb(46, 139, 251);
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}/*# sourceMappingURL=main.css.map */